.wrapp_input {
  display: flex;
  flex-direction: column;
}

.input {
  min-height: 100px;
  height: auto;
  outline: 0;
  background-color: #1a1a1a;
  color: var(--font-color);
  font-size: 1rem;
  /* デフォルトでは親のfont-familyを引き継がないので明示的に指定する */
  font-family: inherit;
  border-radius: 6px;
  /* PCだとtextareaの大きさを調整できてしまうのでできないように */
  resize: none;
  padding: 10px;
  white-space: pre-wrap; /* 改行を表示 */
}

.input:focus {
  border: 1px solid #646cff;
}

.input_error {
  position: absolute;
  bottom: -30px; /* inputのすぐ下に表示 */
  left: 5px;
  color: red;
}
