.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  width: 50%;
  min-width: 600px;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 100%;
  }
}
