.todo_name_wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.todo_name_edit_button {
  cursor: pointer;
  background-color: #242424;
  border: none;
  padding: 4px;
  border-radius: 5px;
}

.todo_name {
  font-size: 1.3rem;
  width: 150px;
  overflow-wrap: break-word;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 64px;
  margin: 0;
}

.li[data-is-pending-for-complete-todo="true"] {
  transition: all 0.4s ease;
  text-decoration: line-through;
  color: gray; /* 文字色を薄くする */
  opacity: 0.6; /* 少し透明に */
}

.li[data-is-pending-for-imcomplete-todo="true"] {
  transition: all 0.4s ease;
  opacity: 0.6; /* 少し透明に */
}

.buttons_wrap {
  display: flex;
  column-gap: 16px;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
  }

  .li {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 93%;
    margin: 0 auto;
  }

  .buttons_wrap {
    display: flex;
    column-gap: 8px;
  }
}
