.overlay {
  position: fixed; /* relativeだと他の要素の影響を受ける可能性がある */
  bottom: 0;
  left: 0;
  background-color: rgba(2, 1, 1, 0.75);
  width: 100%;
  height: 100%;
  z-index: var(--z-index-modal-overlay);
}

.content_wraper {
  position: fixed; /* relativeだと他の要素の影響を受ける可能性がある */
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 10px;
  z-index: var(--z-index-modal);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 32px 16px;
  width: 90%;
  /* ドロワー内で縦スクロールができるように */
  overflow-y: auto;
}

.todo_name_wrapper {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.todo_name {
  font-size: 1.2rem;
  min-width: 100px;
  margin: 0;
  white-space: wrap;
  overflow-wrap: anywhere;
  line-break: strict; /* 禁則処理を厳格に適用 */
}

.created_at {
  font-size: 0.9rem;
  margin-top: 16px;
}

.memo_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Textarea.tsxとスタイルは合わせている */
.memo {
  min-height: 100px;
  height: auto;
  outline: 0;
  background-color: var(--background-color);
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.768);
  padding: 10px;
  /* ユーザが入力した改行を保持 */
  white-space: pre-wrap;
  /* 領域からはみ出すときだけ折り返す。単語の切り目とかは考慮されない */
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
  /* word-break: normal; 単語の分割はデフォルトに依存 */
  line-break: strict; /* 禁則処理を厳格に適用 */
}
