.overlay {
  position: fixed; /* relativeだと他の要素の影響を受ける可能性がある */
  bottom: 0;
  left: 0;
  background-color: rgba(2, 1, 1, 0.75);
  width: 100%;
  height: 100%;
  z-index: 999;
}

.content_wraper {
  position: fixed; /* relativeだと他の要素の影響を受ける可能性がある */
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 10px;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 48px 16px;
  width: 90%;
  /* ドロワー内で縦スクロールができるように */
  overflow-y: auto;
}

.todo_name {
  font-size: 1.1rem;
  width: auto;
  min-width: 200px;
  line-break: anywhere;
  margin: 0;
}

.memo_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Textarea.tsxとスタイルは合わせている */
.memo {
  min-height: 100px;
  height: auto;
  outline: 0;
  background-color: var(--background-color);
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.768);
  padding: 10px;
  white-space: pre-wrap; /* 改行を表示 */
}
