.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo_wrap {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.logo_label {
  font-size: 1.05rem;
  font-weight: 700;
  color: var(--font-color);
}
