.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 90px;
  height: 50px;
}
.button:hover {
  border-color: #646cff;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 8px;
    width: 80px;
  }
}
