.wrapp_input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 8px;
  border: none;
  outline: none;
  width: 300px;
  height: 35px;
  padding: 4px;
  font-size: 1.1rem;
}

.input:focus {
  border: 1px solid #646cff;
}

.input_error {
  position: absolute;
  bottom: -30px; /* inputのすぐ下に表示 */
  left: 5px;
  color: red;
}
