.container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.label {
  margin-bottom: 8px;
  opacity: 0.7;
  width: 70px;
  text-align: center;
}

.pickerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 0 auto;
}

.column {
  width: 100px;
}
