.todo_left {
  display: flex;
  column-gap: 32px;
}

.todo_name_wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
  padding-top: 16px;
  padding-bottom: 8px;
  min-width: 200px;
}

.todo_name_wrapp[data-has-additional-info="false"] {
  padding-bottom: 16px;
}

.todo_name_edit_button {
  cursor: pointer;
  background-color: #242424;
  border: none;
  padding: 4px;
  border-radius: 5px;
}

.todo_name {
  font-size: 1.1rem;
  width: auto;
  line-break: anywhere;
  margin: 0;
}

.todo_name[data-is-error="true"] {
  color: red;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.214);
  border-radius: 6px;
  padding: 0 8px;
  min-height: 65px;
  width: 100%;
  box-sizing: border-box;
}

.buttons_wrap {
  display: flex;
  column-gap: 10px;
}

.buttons_wrap[data-is-edit-mode="true"] {
  transition: all 0.4s ease;
  text-decoration: line-through;
  color: gray; /* 文字色を薄くする */
  opacity: 0.6; /* 少し透明に */
}

.complete_button_wrap {
  position: relative;
}

.fireworks_lottie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: var(--z-index-base);
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
  }

  .todo_left {
    display: flex;
    column-gap: 16px;
  }

  .li {
    width: 93%;
    /* デフォルトに戻す。スマホだとliで93%しかとらないので、borderやpaddingではみ出ることがないため。 */
    box-sizing: content-box;
  }

  .buttons_wrap {
    display: flex;
    column-gap: 8px;
  }
}
