.container {
  padding: 12px;
}

.timeStepWrapper {
  width: 270px;
  margin-top: 8px;
}

.draftDate {
  font-size: 1.05rem;
  margin-bottom: 8px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
