h2 {
  margin: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 500px;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 8px;
}

.sortIcon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sortIcon[data-is-pending-for-sort-todo="true"] {
  transition: all 0.4s ease;
  text-decoration: line-through;
  color: gray; /* 文字色を薄くする */
  opacity: 0.6; /* 少し透明に */
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 100%;
  }
}
