.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 600px;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 100%;
  }
}
