h2 {
  margin: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 600px;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 8px;
}

.sortIcon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sortIcon[data-is-pending-for-sort-todo="true"] {
  transition: all 0.4s ease;
  text-decoration: line-through;
  color: gray; /* 文字色を薄くする */
  opacity: 0.6; /* 少し透明に */
}

.todo_animation_wrap {
  position: relative;
}

.fireworks_lottie {
  position: absolute;
  top: 3%;
  left: 55%;
  pointer-events: none;
  z-index: var(--z-index-floating);
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 100%;
  }
}
