:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(36, 36, 36);
  --font-color: rgba(255, 255, 255, 0.87);
  --color-icon: rgba(255, 255, 255, 0.9);
  --color-thema: rgb(100, 108, 255);
  --background-color: rgb(36, 36, 36);
}

a {
  font-weight: 500;
  color: rgb(100, 108, 255);
  text-decoration: inherit;
}
a:hover {
  color: rgb(83, 91, 242);
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
