.todo_name {
  font-size: 1.1rem;
  width: 250px;
  line-break: anywhere;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.214);
  border-radius: 6px;
  padding: 0 8px;
}

.li[data-is-pending-for-imcomplete-todo="true"] {
  transition: all 0.4s ease;
  text-decoration: line-through;
  color: gray; /* 削除中は文字色を薄くする */
  opacity: 0.6; /* 少し透明に */
}

.li[data-is-pending-for-complete-todo="true"] {
  transition: all 0.4s ease;
  opacity: 0.6; /* 少し透明に */
}

.buttons_wrap {
  display: flex;
  column-gap: 16px;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
  }

  .li {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 93%;
    margin: 0 auto;
  }

  .buttons_wrap {
    display: flex;
    column-gap: 8px;
  }
}
